// // {
// //     "presets": ["@babel/preset-env"]
// //   }
// {
//   "presets": [
//     "es2015"
//   ],
//   "sourceMaps": true,
//   "retainLines": true
// }
{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "transform-runtime"
  ]
}